.box-option {
  min-height: 175px;
  width: 100%;
  border: 2px solid #dad9de;
  background-color: #fff;
  border-radius: 18px;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3%;
}
.box-option img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.box-option .text-cont {
  margin-left: 1rem;
  position: relative;
  top: 10px;
}
.box-option .text-cont h1 {
  color: #737177;
  font-size: 20px;
  font-weight: 700;
}
.box-option .text-cont p {
  font-size: 15px;
}
@media screen and (max-width: 1200px) {
  .box-option .text-cont h1 {
    font-size: 18px;
  }
  .box-option .text-cont p {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  .box-option {
    flex-direction: column;
  }
  .box-option img {
    display: none;
  }
}
@media screen and (max-width: 576.98px) {
  .box-option .text-cont {
    margin-left: 0;
    margin-top: 1rem;
  }
  .box-option img {
    width: 50px;
    height: 50px;
  }
}
