.table-options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-cont {
  width: 100%;
  padding: 0 0.5rem !important;
}
.table-cont * {
  color: #fff !important;
  font-weight: normal !important;
}
.table-recent-transfers {
  font-size: 14px;
  height: 200px;
}
.table-recent-transfers thead {
  background-color: transparent;
}
.table-recent-transfers img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}
.table-cont tr {
  border-bottom: 1px solid #7994a891;
}
.table-cont td,
.table-cont th {
  width: 100%;
  word-break: break-all;
}
.table-recent-transfers .hour {
  color: #8388a5 !important;
  font-weight: 500 !important;
}

.table-recent-transfers .progress {
  height: 8px;
  position: relative;
  top: 5px;
}
.progress-bar-send {
  width: 20%;
  background-color: #28a745;
}
.progress-bar-received {
  width: 100%;
  background-color: #07a8ec;
}
.progress-text-send {
  font-size: 13px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.progress-text-send span:first-child {
  color: #28a745;
}
.progress-text-received {
  font-size: 13px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.progress-text-received span {
  color: #07a8ec;
}
.table-date-cell,
.table-action-cell,
.table-img-cell {
  min-width: 40px;
}
.table-request-id {
  min-width: 60px;
}
.table-user-cell {
  min-width: 150px;
}
.table-amount-cell {
  min-width: 90px;
  font-weight: 600 !important;
}
.table-mail-cell {
  min-width: 200px;
}
.table-dni-cell {
  min-width: 40px;
}
.table-status-cell {
  min-width: 40px;
  word-break: unset !important;
}
.table-checkbox-cell,
.table-id-cell {
  max-width: 60px;
}
.table-isActive-cell {
  min-width: 60px;
}
.table-h-custom {
  height: 375px !important;
}
.table-cont .edit-btn {
  background-color: #2f3d64;
  padding: 0.5rem;
  overflow: hidden;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  transition: all 0.5s;
  position: relative;
  right: 8px;
}
.table-cont .edit-btn svg {
  background-color: #0093d5;
  padding: 0.35rem;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  font-size: 17px;
  transition: all 0.5s;
  position: absolute;
  top: 7px;
  left: 7px;
}
.table-cont .edit-btn span {
  font-size: 13px;
  position: absolute;
  top: 12px;
  left: 45px;
  color: #009bdb !important;
  font-weight: 500 !important;
}
.table-cont .edit-btn:hover {
  border-radius: 30px;
  width: 100px;
  transition: all 0.5s;
}

.table-cont .edit-btn:hover span {
  display: initial;
}
.table-cont .double-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2f3d64;
  border-radius: 30px;
  width: 95px;
  height: 32px;
}
.table-cont .double-button-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  border-radius: 50%;
  position: relative;
  transition: all 0.5s;
}
.table-cont .double-button-container .accept-circle {
  background-color: #0093d5;
}
.table-cont .double-button-container .reject-circle {
  background-color: #ff4898;
}
.table-cont .double-button-container div > svg {
  height: 14px;
  width: 14px;
}
.table-cont .double-button-container div > span {
  display: none;
  position: absolute;
  top: 33px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
}
.table-cont .double-button-container button:hover span {
  display: block;
}
.table-cont .status-container-active {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2f3d64;
  border-radius: 30px;
  width: 105px;
  height: 32px;
  padding: 0.2rem 3rem;
  position: relative;
  right: 13px;
}
.table-cont .status-container-active button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  border-radius: 50%;
  transition: all 0.5s;
  background-color: #00c955;
}
.table-cont .status-container-active svg {
  height: 14px;
  width: 14px;
}
.table-cont .status-container-active .text-active {
  position: relative;
  left: 8px;
  font-size: 13px;
}
.table-cont .status-container-active .text-active {
  color: #00c955 !important;
}

.table-cont .status-container-inactive {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2f3d64;
  border-radius: 30px;
  width: 105px;
  height: 32px;
  padding: 0.2rem 3rem;
  position: relative;
  right: 13px;
}
.table-cont .status-container-inactive button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  border-radius: 50%;
  transition: all 0.5s;
  background-color: #a7a5ac;
  position: relative;
  left: 2px;
}
.table-cont .status-container-inactive svg {
  height: 14px;
  width: 14px;
}
.table-cont .status-container-inactive .text-inactive {
  position: relative;
  left: 8px;
  color: #a7a5ac !important;
  font-size: 13px;
}
.table-cont .padLock-icon-container {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #a7a5ac83;
}
.table-cont .padLock-icon-container svg {
  width: 12px;
  height: 12px;
}
.table-cont .text-rejected {
  color: #ff4898 !important;
  font-weight: 500 !important;
}
.table-cont .text-approve {
  color: #32a74d !important;
  font-weight: 500 !important;
}
.table-cont .text-pending {
  color: #009bdb !important;
  font-weight: 500 !important;
}
.table-cont .table-isActive-cell {
  min-width: 50px;
}
.table-cont .table-user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.table-cont .table-icon {
  width: 25px;
  height: 25px;
  position: relative;
  left: 8px;
}
.table-cont .points-container {
  position: relative;
}
.table-cont .points-container img {
  position: absolute;
}
.trCustom {
  height: 100px;
  text-align: center;
}
.trCustom td {
  padding-top: 60px !important;
}

/* User floating options styles */
.user-float-options-box {
  display: none;
  width: 240px;
  position: absolute;
  right: 65px;
  top: -5px;
  border: 1px solid #29598e;
  border-radius: 8px;
  z-index: 15;
}
.points-container:hover .user-float-options-box {
  display: block;
}
.user-float-options-box button {
  font-size: 13px !important;
  font-weight: 700 !important;
}
.user-float-options-box svg {
  height: 12px;
}
.user-float-options-box > button:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.user-float-options-box > button {
  display: flex;
  align-items: center;
  width: 240px;
  padding-left: 1rem;
  height: 40px;
  background-color: #243651;
  border-bottom: 1px solid #29598e;
}
.user-float-options-box > button:hover {
  background-color: #1e2e47;
}
.user-float-options-box > button span {
  position: relative;
  top: 2px;
}
.user-float-options-box .user-float-btn-container {
  width: 240px;
  height: 40px;
  background-color: #243651;
  border-bottom: 1px solid #29598e;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}
.user-float-options-box .user-float-btn-container:hover {
  background-color: #1e2e47;
}
.user-float-options-box .border-fix {
  border-bottom: none !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.user-float-options-box .user-float-btn-container .position-fix {
  position: relative;
  right: 16px;
}
/* Final User floating options styles */

@media only screen and (min-width: 640px) {
  .table-cont tr {
    display: flex;
    align-items: center;
  }
  .table-cont .edit-btn {
    top: 3px;
  }
  .table-cont .padLock-icon-container {
    position: relative;
    left: 12px;
  }
  .table-checkbox-cell label {
    position: relative;
    bottom: 10px;
  }
  .table-cont .points-container img {
    left: 60px;
    bottom: -6px;
  }
}
@media only screen and (max-width: 641px) {
  .table-options-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .table-options-container > div {
    margin-top: 0.75rem;
  }
  .table-cont {
    overflow-y: auto !important;
  }
  .table-cont {
    height: 480px !important;
  }
  .table-cont tr {
    border: 1px solid #a5b5e4 !important;
    margin-top: 1rem;
    border-radius: 18px;
  }
  .table-cont .edit-btn {
    left: 1px;
    bottom: 5px;
  }
  .table-cont .padLock-icon-container {
    position: relative;
    left: 8px;
  }
  .table-checkbox-cell label {
    position: relative;
    left: 8px;
    bottom: 5px;
  }
  .table-cont .points-container img {
    left: 60px;
    bottom: -5px;
  }
}
